.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

form {
    margin-top: 1rem;
    
    input[type="text"], input[type="url"] {
        width: 100%;
        
        @media all and (min-width: 768px) {
            width: 25rem;
        }
    }
    
    fieldset {
        margin-bottom: 1rem;
        width: 100%;
        
        @media all and (min-width: 768px) {
            width: fit-content;
        }
    }
    
    pre {
        white-space: pre-wrap;
        word-break: break-word;
    }
}
