.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

form {
    margin-top: 1rem;
    
    input[type="text"], input[type="url"] {
        width: 25rem;
    }
    
    fieldset {
        width: fit-content;
        margin-bottom: 1rem;
    }
}
