# Ignore node_modules and other dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore logs
*.log
logs

# Ignore local environment files
.env

# Ignore version control folders
.git

# Ignore build output and coverage
build
dist
coverage

# OS-specific or IDE files
.DS_Store
.idea
.vscode
.vale-styles
.vale.ini

# Docker files
Dockerfile*
docker-compose*

# Documentation and readme files that aren't needed for build
README.md
*.md

# Temporary files
*.tmp
*.temp

# Cache directories
.cache
.npm
.next
