{
    "arrowParens": "always",
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "endOfLine": "lf"
}
