.container {
    padding: 0.75rem 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.image {
    width: 100%;
    border-radius: var(--border-radius);
    height: auto;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

@media (min-width: 641px) {
    .image {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media (max-width: 640px) {
    .container {
        margin-bottom: 1rem;
    }
}

