.layout {
    max-width: 740px;
    margin: 0 auto;
    padding: 1rem 20px 0;
    width: 100%;
}

main:has([data-homepage]) .layout,
main:has([data-list-page]) .layout {
    max-width: 1200px;

    & section + section,
    & [data-list-page] + [data-list-page],
    & [data-list-page] + section,
    & section + [data-list-page] {
        margin-top: 1rem;
    }
}

.container {
    width: 100%;

    @media (max-width: 767px) {
        article section {
            padding: 0 0.5rem;
        }
    }
}

.withSidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.content {
    width: 100%;
}

.sidebar {
    width: 100%;
}

@media (min-width: 641px) {
    .withSidebar {
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width: 767px) {
    .layout {
        padding: 0 0.5rem;
    }
}
