.youtubeSection {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.youtubeSection > div {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.youtubeSection > div > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--border-radius);
}

@media (max-width: 640px) {
    .youtubeSection {
        margin-top: 1.5rem;
        gap: 1.5rem;
    }
}

