@import "reset.css";
@import "variables.css";
@import "colors.css";
@import "theme.css";
@import "typography.css";

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
