:root {
    --font-family: Poppins, Arial, sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--font-family), system-ui;
    font-size: 16px;
    hyphens: auto;
    line-height: 1.6;
}

@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    src: url("../../public/fonts/Poppins-Bold.woff2") format("woff2");
}
