@font-face {
    font-family: "Poppins";
    src: url("/static/fonts/Poppins-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/static/fonts/Poppins-Bold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}
