.layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 1rem;
    width: 100%;
}

.container {
    width: 100%;
}

.withSidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.content {
    width: 100%;
}

.sidebar {
    width: 100%;
}

@media (min-width: 641px) {
    .withSidebar {
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width: 767px) {
    .layout {
        padding: 0 0.5rem;
    }
}
