/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #f16012;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --breakpoint-small: 390px;
    --breakpoint-medium: 690px;
    --image-width: 200px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #ef702c;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

    img {
        filter: brightness(.9) contrast(1.2);
    }

    img:hover, img:active {
        /* Reset image colors on hover */
        filter: brightness(1) contrast(1);
    }
}

[data-theme='light'] {
    img {
        filter: brightness(1.05) contrast(0.95);
    }

    img:hover, img:active {
        /* Reset image colors on hover */
        filter: brightness(1) contrast(1);
    }
}

/* Custom Additions */

.font-red {
    color: red;
}

div > img {
    border-radius: 5px;
    margin-bottom: 0 !important;
}
