.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.headline {
    color: #F16012;
}

.authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: var(--breakpoint-medium)) {
    .authors {
        justify-content: center;
    }
}
