.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.headline {
    color: #F16012;
}
